
.loginArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.Glogo {
    position: absolute;
    width: 130px;
    height: 130px;
    right: 590px;
    top: 390px;
}

.Mlogo {
    position: absolute;
    width: 90px;
    height: 90px;
    right: 310px;
    top: 410px;
}

.Nlogo {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 600px;
    top: 700px;
}

.Klogo {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 300px;
    top: 700px;
}

.gateWord {
    position: absolute;
    text-align: center;
    right: 145px;
    top: 250px;
    font-size: 30px;
    font-family: "Lucida Console", Monaco, monospace;
    /* font-family: "Times New Roman", serif; */
    /* font-family: "Courier New", Courier, monospace; */
    /* font-family: "Arial Black", sans-serif; */
}

.gateImg {
    position: absolute;
    width: 960px;
    height: 600px;
    top: 300px;
    left: 20px;
}

.gateBorder {
    border-left: 2px solid black;
    height: 550px;
    margin-left: 100px;
    margin-top: 160px;
}

.socialG {
    opacity: 0;
    display: inline-block;
    width: 50px;
    overflow: hidden;
    position: absolute;
    right: 630px;
    top: 420px;
    z-index: 1;
}

.socialM {
    opacity: 0;
    display: inline-block;
    width: 50px;
    overflow: hidden;
    position: absolute;
    right: 330px;
    top: 435px;
    z-index: 1;
}

.socialN {
    opacity: 0;
    display: inline-block;
    width: 50px;
    overflow: hidden;
    position: absolute;
    right: 625px;
    top: 720px;
    z-index: 1;
}

.socialK {
    opacity: 0;
    display: inline-block;
    width: 50px;
    overflow: hidden;
    position: absolute;
    right: 325px;
    top: 730px;
    z-index: 1;
}