
.loginArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.gateImg {
    position: absolute;
    width: 850px;
    height: 700px;
    margin-top: 85px;
    z-index: 0;
}

.socialG {
    position: absolute;
    width: 225px;
    height: 90px;
    margin-top: 70px;
    margin-left: -690px;
    z-index: 1;
}

.socialM {
    position: absolute;
    width: 275px;
    height: 110px;
    margin-top: 60px;
    margin-left: 440px;
    z-index: 1;
}

.socialN {
    position: absolute;
    width: 200px;
    height: 80px;
    margin-top: 315px;
    margin-left: -670px;
    z-index: 1;
}

.socialK {
    position: absolute;
    width: 225px;
    height: 90px;
    margin-top: 310px;
    margin-left: 465px;
    z-index: 1;
}

.prevBtn {
    position: absolute;
    left: 730px;
    top: 475px;

    background-color: #4e3b3b;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.nextBtn {
    position: absolute;
    right: 750px;
    top: 475px;

    background-color: #4e3b3b;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.Glogo {
    position: absolute;
    right: 873px;
    top: 470px;
}

.Mlogo {
    position: absolute;
    right: 861px;
    top: 472px;
}

.Nlogo {
    position: absolute;
    right: 835px;
    top: 463px;
}

.Klogo {
    position: absolute;
    right: 877px;
    top: 470px;
}

.gateWord {
    text-align: center;
    margin-top: 20px;
}

.gateRed {
    position: absolute;
    width: 300px;
    height: 100px;
    /* background-color: #EA4335; */
    background-color: gray;
    margin-left: -1150px;
    margin-top: 150px;
}

.gateBlue {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #00A1F1;
    margin-left: 1150px;
    margin-top: 150px;
}

.gateGreen {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #2DB400;
    margin-left: -1150px;
    margin-top: 390px;
}

.gateYellow {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #FEE500;
    margin-left: 1150px;
    margin-top: 390px;
}