#friendcard {
    background-color: white;
    width: 600px;
    height: 400px;
    position: relative;
    left: 50%;
    margin-left:-300px;
    top: 50%;
    margin-top:-300px;
}

#friendcardtext {
    background-color: rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 200px;
    position: relative;
    left: 50%;
    margin-left:-250px;
    top: 15%;
    padding: 30px;
}

#friendcardbutton {
    width: 400px;
    height: 100px;
    position: relative;
    left: 50%;
    margin-left:-200px;
    top: 15%;
    padding: 50px;
}

#acceptbtn {
    width: 80px;
    height: 30px;
}

#sorrybtn {
    width: 80px;
    height: 30px;
    margin-left: 130px;
}