* {
  background-image: image('/src/component/BusinessCard/card.css');
}

input {
  /* display: none; */
  background-color: rgb(0, 0, 0, 0.1);
  border: none;
  height: 30px;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  width:250px;
  height:250px;
  border-radius: 50%;
  padding: 5px;
  /* background-color: blueviolet; */
}


#shadow {
  box-shadow: 10px 7px 9px 1px rgba(108, 39, 108, 0.366);
}


#talk {
  position: relative;
  width: 500px;
  text-align: center;
  background: url(../images/말풍선.png);
  background-size: cover;
  padding: 60px;
  margin-left: -65px;
}


/* 명함 수정부분 말풍선 */
#talk-edit {
  position: relative;
  width: 500px;
  text-align: center;
  background: url(../images/말풍선.png);
  background-size: cover;
  padding: 50px;
  margin-left: -65px;
}



#inform {
  position: relative;
  width: 450px;
  text-align: center;
  background: url(../images/말풍선2.png);
  background-size: cover;
  padding: 40px;
  margin-left: 0px;
  /* position: relative;
  width: 500px;
  font-variant-position: var();
  background: url(../images/명함정보.png);
  background-size: cover;
  padding: 60px;
  margin-left: 20px; */
}


#onlineCard {
  position: relative;
  width: 1050px;
  text-align: center;
  background: url(../images/명함bg.png);
  background-size: cover;
  padding: 220px;
  margin-top: 100px;
  margin-left: 400px;
  filter: drop-shadow(10px 10px 10px #b3b2b2);
}


/* 기본 버튼 */
#onlineBtn {
  border:none;
  position: relative;
  width: 250px;
  text-align: center;
  background: url(../images/버튼.png);
  background-size: cover;
  padding: 100px;
  color: white;
  font-family: 'Do Hyeon';
  font-size: 25px;
}


#addOnlineBtn {
  position: relative;
  width: 240px;
  text-align: center;
  background: url(../images/버튼.png);
  background-size: cover;
  padding: 25px;
  color: white;
  font-family: 'Do Hyeon';
  font-size: 35px;
  margin-left: 550px;
  margin-top: -100px;
}

#onlineBtn {
  position: relative;
  width: 200px;
  text-align: center;
  background: url(../images/버튼.png);
  background-size: cover;
  padding: 20px;
  color: white;
  font-family: 'Do Hyeon';
  font-size: 30px;
}


/* 글 처음 추가할때 */
#addOnlineCard {
  position: absolute;
  width: 1050px;
  text-align: center;
  background: url(../images/명함bg.png);
  background-size: cover;
  padding: 30px;
  margin-top: 100px;
  margin-left: 400px;
  filter: drop-shadow(10px 10px 10px #b3b2b2);
}
