#guestbooklist {
    position: absolute;
    margin-left: 200px;
    margin-top: 140px;
    width: 50%;
    float: left;
}

#guestverlist {
    position: absolute;
    margin-left: 470px;
    margin-top: 140px;
    width: 50%;
    float: left;
}

#friendlist {
    position: absolute;
    margin-left: 1300px;
    margin-top: 50px;
    width: 500px;
    float: left;
}

.gbaddTitle {
    position: absolute;
    margin-top: 120px;
    margin-left: 210px;
}

.vc {
    position: absolute;
    font-size: 18px;
    margin-top: -40px;
    margin-left: 310px;
}

.vocom {
    position: absolute;
    font-size: 18px;
    margin-top: 120px;
    margin-left: 1130px;
}

.aud {
    position: absolute;
    margin-left: 350px;
    margin-top: -40px;
}

.flist {
    position: absolute;
    margin-left: 350px;
    margin-top: -40px;
}