#logo {
    position: absolute;
    left: 50%;
    margin-left:-95px;
    top: 3%;
    z-index: 999;
}

#topbtns{
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 999;
}

#backwhite {
    background-color: white;
}

#topbar {
    position: relative;
    left: 5%;
    height: 10%;
    width: 90%;
    text-align: center;
    margin: 0;
}

#barbtns {
    float:left;
    position: relative;
    top: 30%;
    left: 1%;
    width: 33.3%;
    text-align: left;
}

#guestminebtn {
    float:left;
    margin-right: 10px;
    width: 50px;
    height: 70px;
    text-align: center;
    border-radius: 20%;
    background-color: mediumpurple;
  }
  
#guestcardbtn {
float:left;
margin-right: 10px;
width: 50px;
height: 70px;
text-align: center;
border-radius: 20%;
background-color: mediumpurple;
}

#guestbookbtn {
float:left;
margin-right: 10px;
width: 50px;
height: 70px;
text-align: center;
border-radius: 20%;
background-color: mediumpurple;
}

#gohomebtn {
float:left;
margin-right: 30px;
width: 50px;
height: 70px;
text-align: center;
border-radius: 20%;
background-color: mediumpurple;
}


#toolbox {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 80%;
    background-color: white;
}