#backwhite {
    background-color: white;
}

#topbar {
    position: relative;
    left: 5%;
    height: 15%;
    width: 90%;
    text-align: center;
    margin: 0;
}

#barbtns {
    float:left;
    position: relative;
    top: 50%;
    left: 1%;
    width: 33.3%;
    text-align: left;
}

#mainbtn {
    width: 50px;
    height: 100px;
    text-align: center;
    border-radius: 20%;
    background-color: white;
}


#toolbox {
    position: relative;
    left: 5%;
    width: 90%;
    height: 80%;
    background-color: white;
}