#fulltoolbox {
    z-index: 999;
    background: black;
    width: 2000px;
    height: 929px;
    position: absolute;
}

#close {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 25px;
    height: 25px;
}

#fullgame {
    width: 1700px;
    height: 800px;
    padding: 10px;
    border-radius: 350px;
    position: relative;
    top: 80px;
    left: 50%;
    margin-left:-850px;
    background-color: #7cabde;
    border: 2px solid #3867a3;
    float: left;
    box-shadow: 2px 20px #154682;
}

.fullkeybutton {
    background-image: url(./images/keyboard.png);
    background-size: contain;
    width: 75px;
    height: 65px;
    position:absolute;
    border-radius: 10px;
    border: 2px solid #548235;
    box-shadow: 2px 3px #548235;
    top: 650px;
    right: 250px;
}

.fullleft {
    display: inline-block;
    background-image: url(./images/l_btn.png);
    background-size: contain;
    border: 2px solid #000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 395px;
    bottom: 275px;
    border: 2px solid #810d05;
    box-shadow: 2px 3px #810d05;
}
.fullup {
    display: inline-block;
    background-image: url(./images/u_btn.png);
    background-size: contain;
    border: 2px solid #000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 310px;
    bottom: 350px;
    border: 2px solid #810d05;
    box-shadow: 2px 3px #810d05;
}
.fulldown {
    display: inline-block;
    background-image: url(./images/d_btn.png);
    background-size: contain;
    border: 2px solid #000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 310px;
    bottom: 200px;
    border: 2px solid #810d05;
    box-shadow: 2px 3px #810d05;
}
.fullright {
    display: inline-block;
    background-image: url(./images/r_btn.png);
    background-size: contain;
    border: 2px solid #000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    position: absolute;
    right: 225px;
    bottom: 275px;
    border: 2px solid #810d05;
    box-shadow: 2px 3px #810d05;
}

.fullplay {
    display: inline-block;
    background-image: url(./images/play.png);
    background-size: contain;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    border: 2px solid #535353;
    box-shadow: 2px 3px #535353;
    left: 60px;
    top: 300px;
}

.fullpause {
    display: inline-block;
    background-image: url(./images/pause.png);
    background-size: contain;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    position: absolute;
    border: 2px solid #535353;
    box-shadow: 2px 3px #535353;
    left: 60px;
    top: 400px;
}


.fullcontainer {
    z-index: 0;
    border: 5px solid #3867a3;
    top: 60px;
    left: 170px;
    width: 1000px;
    height: 650px;
    position: relative;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    float: left;
}

@import url('https://unpkg.com/galmuri@latest/dist/galmuri.css');

.fulltextbox {
    border: 5px solid #ddd;
    background-color: black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Galmuri9';
    font-size: 1.3em;
    color: white;
    top: 60px;
    left: 170px;
    padding: 10px;
    width: 340px;
    height: 270px;
    position: relative;
    background-position: 0px 0px;
    transition: background-position 10000s linear;
    float: left;
}


.fullchild {
    z-index: 1;
    position:absolute;
    top: 340px;
    left: 40px;
    background-size: contain;
    background-position: center;
    transform: translate(-50%,-50%);
}
.fullstart {
    background-color: #fff;
    width: 75px;
    height: 65px;
    position:absolute;
    border-radius: 10px;
    top: 650px;
    right: 370px;
    border: 2px solid #BF9000;
    box-shadow: 2px 3px #BF9000;
    background-image: url(./images/start.png);
    background-size: contain;
}
.fullportal {
    position:absolute;
    top: 350px;
    left: 940px;
    background-size: contain;
    background-position: center;
    transform: translate(-50%,-50%);
}

#keybutton {
    z-index: -1;
    position:absolute;
    top: 130px;
    left: 150px;
}

.fullvictory {
    visibility: hidden;
    position:absolute;
    z-index: 900;
    top: 200px;
    left: 300px;
}

.fullpoint#fullfirst {
    position:absolute;
    top: 65px;
    left: 65px;
}

.fullpoint#fullsecond {
    position:absolute;
    top: 365px;
    left: 185px;
}

.fullpoint#fullthird {
    position:absolute;
    top: 185px;
    left: 305px;
}

.fullpoint#fullfourth {
    position:absolute;
    top: 485px;
    left: 365px;
}

.fullpoint#fullfifth {
    position:absolute;
    top: 125px;
    left: 485px;
}

.fullpoint#fullsixth {
    position:absolute;
    top: 425px;
    left: 605px;
}

.fullpoint#fullseventh {
    position:absolute;
    top: 5px;
    left: 725px;
}

.fullpoint#fulleight {
    position:absolute;
    top: 545px;
    left: 845px;
}

#fullquestion {
    font-size: 20px;
    visibility: hidden;
    width: 990px;
    height: 640px;
    position: absolute;
    padding: 30px;
    top: 0px;
    left: 0px;
    background-color: antiquewhite;
    z-index: 999;
}

#fulltextquestion input {
    resize: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    width: 700px;
    height: 60px;
    margin-top: 5px;
}

#fullsubquestion {
    margin-top: 30px;
}

#fullsubquestion input {
    resize: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    height: 60px;
    margin-top: 5px;
}