#modechange {
    position: absolute;
    top: 220px;
    left: 50px;
    float: left;
}

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

#usermode {
    width: 120px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: MBC1961GulimM;
    font-size: 15px;
}

#editmode {
    width: 120px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: MBC1961GulimM;
    font-size: 15px;
    background-color: #3867a3;
    color: white;
}

#gamebox {
    width: 800px;
    height: 600px;
    padding: 10px;
    position: absolute;
    left: 250px;
    top: 250px;
    float: left;
}


#mineedibox {
    border: 5px solid #3867a3;
    border-bottom: 0px;
    z-index: 0;
    width: 700px;
    height: 420px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 40px;
    left: 70px;
    position: relative;
}

#stage {
    position: absolute;
    border-radius: 8px;
    left: 0px;
}

#editextbox {
    border: 5px solid #3867a3;
    border-top: 0px;
    background-color: black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    padding: 10px;
    font-family: 'Galmuri9';
    font-size: 1.3em;
    top: 35px;
    left: 70px;
    width: 700px;
    height: 95px;
    position: relative;
    background-position: 0px 0px;
}

#editorbox {
    width: 600px;
    height: 600px;
    padding: 10px;
    position: absolute;
    left: 1100px;
    top: 250px;
    float: left;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#editor {
    border: 5px solid #3867a3;
    z-index: 0;
    width: 450px;
    height: 600px;
    border-radius: 8px;
    top: 0px;
    left: 0px;
    background-color: #eee;
    position: relative;
    font-family: IM_Hyemin-Bold;
}

#posbtns {
    height: 85px;
    margin-bottom: 15px;
}

#posbtns button{
    width: 60px;
    height: 50px;
    background-color: #80d4f6;
    box-shadow: 2px 3px #47b8e0;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50px;
    font-family: IM_Hyemin-Bold;
}

#posimg {
    position: relative;
    top: 40px;
    text-align: center;
    height: 340px;
    font-family: IM_Hyemin-Bold;
}

#preimg {
    height: 250px;
}


#posimg textarea {
    resize: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    height: 6em;
    font-family: IM_Hyemin-Bold;
}

#elevenbox input {
    resize: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 10px;
    width: 300px;
    height: 55px;
    font-family: IM_Hyemin-Bold;
}

.labelnumber {
    width: 50px;
    height: 55px;
    position: relative;
    left: 40px;
    background-color: #aaa;
    float: left;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IM_Hyemin-Bold;
}

#elevenbox p {
    font-size: 15px;
    font-family: IM_Hyemin-Bold;
}


.point#first {
    position:absolute;
    top: 35px;
    left: 35px;
}

.point#second {
    position:absolute;
    top: 235px;
    left: 115px;
}

.point#third {
    position:absolute;
    top: 115px;
    left: 195px;
}

.point#fourth {
    position:absolute;
    top: 315px;
    left: 275px;
}

.point#fifth {
    position:absolute;
    top: 75px;
    left: 355px;
}

.point#sixth {
    position:absolute;
    top: 275px;
    left: 435px;
}

.point#seventh {
    position:absolute;
    top: 35px;
    left: 515px;
}

.point#eight {
    position:absolute;
    top: 355px;
    left: 595px;
}