#modechange {
    position: absolute;
    top: 220px;
    left: 50px;
    float: left;
}


#gamebox {
    width: 800px;
    height: 600px;
    padding: 10px;
    position: absolute;
    left: 250px;
    top: 250px;
    float: left;
}


#mineedibox {
    border: 5px solid #3867a3;
    border-bottom: 0px;
    z-index: 0;
    width: 700px;
    height: 420px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 40px;
    left: 70px;
    position: relative;
}

#stage {
    position: absolute;
    border-radius: 8px;
    left: 0px;
}

#editextbox {
    border: 5px solid #3867a3;
    border-top: 0px;
    background-color: black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    padding: 10px;
    font-family: 'Galmuri9';
    font-size: 1.3em;
    top: 35px;
    left: 70px;
    width: 700px;
    height: 95px;
    position: relative;
    background-position: 0px 0px;
}

#editorbox {
    width: 600px;
    height: 600px;
    padding: 10px;
    position: absolute;
    left: 1100px;
    top: 250px;
    float: left;
}

#editor {
    border: 5px solid #3867a3;
    z-index: 0;
    width: 450px;
    height: 550px;
    border-radius: 8px;
    top: 20px;
    left: 0px;
    background-color: #ccc;
    position: relative;
}

#posbtns {
    height: 85px;
    margin-bottom: 15px;
}

#posbtns button{
    width: 55px;
    height: 40px;
}

#posimg {
    text-align: center;
    height: 280px;
}

#preimg {
    height: 250px;
}

#posimg textarea {
    resize: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    height: 6em;
}

.portal {
    background-color: #fff;
    width: 40px;
    height: 40px;
    position:absolute;
    border-radius: 50%;
    top: 200px;
    left: 540px;
    background-image: url(./images/portal.png);
    background-size: contain;
    background-position: center;
    transform: translate(-50%,-50%);
}

.point#first {
    position:absolute;
    top: 100px;
    left: 70px;
}

.point#second {
    position:absolute;
    top: 280px;
    left: 130px;
}

.point#third {
    position:absolute;
    top: 70px;
    left: 190px;
}

.point#fourth {
    position:absolute;
    top: 310px;
    left: 250px;
}

.point#fifth {
    position:absolute;
    top: 130px;
    left: 310px;
}

.point#sixth {
    position:absolute;
    top: 40px;
    left: 370px;
}

.point#seventh {
    position:absolute;
    top: 100px;
    left: 430px;
}

.point#eight {
    position:absolute;
    top: 250px;
    left: 490px;
}