#modechange {
    position: absolute;
    top: 220px;
    left: 50px;
    float: left;
}


#gamebox {
    width: 800px;
    height: 600px;
    padding: 10px;
    position: absolute;
    left: 250px;
    top: 250px;
    float: left;
}


#mineedibox {
    border: 5px solid #3867a3;
    border-bottom: 0px;
    z-index: 0;
    width: 700px;
    height: 420px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 40px;
    left: 70px;
    position: relative;
}

#stage {
    position: absolute;
    border-radius: 8px;
    left: 0px;
}

#editextbox {
    border: 5px solid #3867a3;
    border-top: 0px;
    background-color: black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    padding: 10px;
    font-family: 'Galmuri9';
    font-size: 1.3em;
    top: 35px;
    left: 70px;
    width: 700px;
    height: 95px;
    position: relative;
    background-position: 0px 0px;
}

#editorbox {
    width: 600px;
    height: 600px;
    padding: 10px;
    position: absolute;
    left: 1100px;
    top: 250px;
    float: left;
}

#editor {
    border: 5px solid #3867a3;
    z-index: 0;
    width: 450px;
    height: 550px;
    border-radius: 8px;
    top: 20px;
    left: 0px;
    background-color: #ccc;
    position: relative;
}

#posbtns {
    height: 85px;
    margin-bottom: 15px;
}

#posbtns button{
    width: 55px;
    height: 40px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

#posimg {
    text-align: center;
    height: 280px;
}

#preimg {
    height: 250px;
}

#posimg textarea {
    resize: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    height: 6em;
}

#elevenbox input {
    resize: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 10px;
    width: 300px;
    height: 55px;
}

.labelnumber {
    width: 50px;
    height: 55px;
    position: relative;
    left: 40px;
    background-color: #aaa;
    float: left;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#elevenbox p {
    font-size: 15px;
}


.point#first {
    position:absolute;
    top: 35px;
    left: 35px;
}

.point#second {
    position:absolute;
    top: 235px;
    left: 115px;
}

.point#third {
    position:absolute;
    top: 115px;
    left: 195px;
}

.point#fourth {
    position:absolute;
    top: 315px;
    left: 275px;
}

.point#fifth {
    position:absolute;
    top: 75px;
    left: 355px;
}

.point#sixth {
    position:absolute;
    top: 275px;
    left: 435px;
}

.point#seventh {
    position:absolute;
    top: 35px;
    left: 515px;
}

.point#eight {
    position:absolute;
    top: 355px;
    left: 595px;
}