.table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  .th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }
  .th:first-child, td:first-child {
    border-left: none;
  }



  